<<<<<<< HEAD
$facebook-color: #4267b2;
$titels-blue: #365899;
$article-border: 1px solid #dddfe2;
$gray: #dddfe2;
$text-color: #616770;
$comments-color:#eff1f3;
=======
$facebook-color: #4267b2;
$titels-blue: #365899;
$article-border: 1px solid #dddfe2;
$gray: #dddfe2;
$text-color: #616770;
$comments-color:#eff1f3;
>>>>>>> 60769f29710503677e55a5c6c07a62fc7f2094b9
