.container{
    display: grid;
    grid-gap: $gap;
    grid-template-columns: $nav-width $main-width $side-width;
    width:1011px;
    min-height: 100%;
    margin: 70px auto 0 auto ;
    
}

.nav-bar{
    grid-column: 1/2;
    height: 100%;
}
.side-bar{
    grid-column: 3/4;  
}
.main{
    grid-column: 2/3; 
}