.section{
    padding:$padding; 
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #dddfe2;
    border-radius: 5px;
}

.new-story{
    @include userAndStories(284px, 0);    
    }
.new-story .user{
    border: solid  $facebook-color 1px;
    }
    
    .story-preview{
        .user-title{
            color: $facebook-color;
        }
        span{
            display: block;
        }
    }