<<<<<<< HEAD
@import "colors";
@import "sizes";
@import "header";
@import "nav-bar";
@import "main";
@import "side-bar";
@import "container-grid";

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E9EBEE;
    font-size: 13px;
    }






=======
@import "colors";
@import "sizes";
@import "header";
@import "nav-bar";
@import "main";
@import "side-bar";
@import "container-grid";

body{
    font-family: 'Roboto', sans-serif;
    background-color: #E9EBEE;
    font-size: 13px;
    }






>>>>>>> 60769f29710503677e55a5c6c07a62fc7f2094b9
